node_modules/
dist/
build/
.env
.env.local
.env.*.local
*.log
*.pem
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.cache/
.parcel-cache
.next
out
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
coverage/
.nyc_output/
